---
const { title, tags, description, introText, author, pubDate } = Astro.props;
---

<div
    class='flex flex-col w-full rounded-2xl pt-4 pb-4 pl-10 pr-10 min-h-72 mb-2
    hover:ring-4 ring-ringLight dark:ring-ringDark hover:opacity-90 transition-all duration-300
    bg-bgLight dark:bg-bgDark text-fontLight dark:text-fontDark'
>
    <div class='flex flex-row justify-between'>
        <h1 class='text-2xl'>{title}</h1>
        <div class='flex gap-2'>
            {
                tags.map((tag: string) => (
                    <span class='bg-bgLight dark:bg-bgDark text-fontLight dark:text-fontDark rounded-2xl p-2'>
                        {tag}
                    </span>
                ))
            }
        </div>
    </div>

    <p class='italic text-descriptionTextLight'>---- {description}</p>
    <p class='m-4'>{introText}</p>
    <div
        class='flex justify-between text-sm text-fontLight dark:text-fontDark mt-auto'
    >
        <span>By {author}</span>
        <span>{new Date(pubDate).toLocaleDateString()}</span>
    </div>
</div>
